@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@font-face {
  font-family: "Vazirmatn-Regular";
  src: url("/font/Vazirmatn-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "KalamehWeb_Black";
  src: url("/public/font/KalamehWeb_Black.woff2") format("woff2");
}
* {
  font-family: "Vazirmatn-Regular" !important;
}
@theme inline {
  --color-custom-white: #ffffff;
  --color-light-gray: #f5f5f5;
  --color-mid-gray: #a9a9a9;
  --color-dark-gray: #333333;
  --color-light-blue: #edfaffc1;
  --color-medium-blue: #4a90e2;
  --color-dark-blue: #003366;
  --color-border-gray: #d3d3d3;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #edfaffc1;
    --foreground: #ededed;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--color-dark-blue);
}
body {
  direction: rtl;
  color: var(--color-dark-gray);
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--color-medium-blue) !important;
}
