@import "tailwindcss";

:root {
  --background: #f0f8ff;
  --color-mid-blue: #4a90e2;
  --foreground: hsl(0, 0%, 9%);
  --br: #5b432c;
}
@font-face {
  font-family: "Vazirmatn-Regular";
  src: url("/font/Vazirmatn-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "KalamehWeb_Black";
  src: url("/public/font/KalamehWeb_Black.woff2") format("woff2");
}
* {
  /* outline: solid 1px red; */
  font-family: "Vazirmatn-Regular" !important;
}
.ant-picker-dropdown {
  max-width: 90vw !important;
  word-wrap: break-word;
  white-space: normal;
}
.custom-datepicker-dropdown {
  max-width: 90vw !important;
  width: 90vw !important;
  direction: rtl;
}

@theme inline {
  --color-cloud-white: #fdfdfd;
  --color-deep-blue: #003f5c;
  --color-mid-blue: #4a90e2;
  --color-neutral-light: #edf2f7;
  --color-golden-yellow: #ffc857;
  --color-coral-red: #ff6b6b;
  --color-charcoal: #333842;
  --color-txt-secondary: #6f6f6f;
  --color-seat-available: #38bdf8;      
  --color-seat-selected: #86af48;  
  --color-seat-reserved: #ff6b6b;       
  --color-seat-unavailable: #333842;     
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #edfaffc1;
    --foreground: #86af48;
  }
}

h1,
h2,
h3 {
  color: var(--color-deep-blue);
}

body {
  direction: rtl;
  color: var(--color-charcoal);
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--color-mid-blue) !important;
}

.login-slider {
  & .swiper-pagination {
    background: rgba(255, 255, 255, 0.108);
    backdrop-filter: blur(10px);
    border-radius: 0;
    padding: 22px 10px;
    bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 8px;
  }

  & .swiper-pagination-bullet {
    width: 30px !important;
    height: 5px !important;
    border-radius: 1rem !important;
    background: #ccc !important;
    opacity: 1 !important;
    transition: background-color 0.3s ease;
  }

  & .swiper-pagination-bullet-active {
    background: #0ea5e9 !important;
    width: 30px !important;
    height: 5px !important;
  }
}

input::placeholder,
textarea::placeholder {
  color: var(--color-slate-gray) !important;
  opacity: .5 !important;
}
.stat-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
